body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    padding: 0 30px;
    font-size: 14px;
    line-height: 22px;
    color: #faebeb;
    background-color: white;
    overflow: scroll;
}

.elements {
    height: 90vh;
    background-repeat: round;
    background-size: 30%;
    margin-bottom: -40px;   
}


footer {
    background-color: #63c2f1;
    color: white;
    display: block;
    height: 50px;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    
}

/*.footer_text {
    margin: 100px auto auto 20px;
}*/

header {
    background-color: #63c2f1;
    color: white;
    display: block;
    height: 50px;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;    
    margin: 0px;
    
}

.top_text {
    text-decoration: none;
    margin-bottom: 0.7%;
    object-position: center;
    vertical-align: text-bottom;
    font-weight: 700;
    font-size: 14px;
    padding-top: 15px;
    display: flex;
    margin: 0px;
}


a {
    color: #fff;
    text-decoration: none;
    position: relative;
    text-decoration: none;
    margin-right: 25px;
    margin-left: 10px;
    object-position: center;
    font-weight: 700;
    font-size: 18px;
}
a:hover:before {
    clip: rect(0, 190px, 190px, 0);
}
a:before {
    position: absolute;
    left: 0;
    top: 0;
    content: attr(data-content);
    display: inline-block;
    color: #e4c2ff;
    width: 100%;
    clip: rect(0, 0, 190px, 0);
    -webkit-transition: clip cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms;
    transition: clip cubic-bezier(0.25, 0.46, 0.45, 0.94) 300ms;
}

h1 {
    color: rgb(12, 87, 122);
    margin-top: 60px;
    font-size: 11pt;
}

h2 {
    color: rgb(12, 87, 122);
    font-size: 11pt;
}

h3 {
    color: rgb(12, 87, 122);
    font-size: 11pt;
}
h4 {
    color: rgb(12, 87, 122);
    font-size: 11pt;
}
ul {
    color: rgb(12, 87, 122);
}

p {
    color: rgb(12, 87, 122);
    margin-bottom: 60px;
}

.current_page{
    color:rgb(12, 87, 122);
}


.logo{
    margin-top: -10px;
}

.logotype{
    margin-top: 50px;
    margin-bottom: -30px;
}

.container {
    margin: 70px 30%;
    padding-left: 0px;
    padding-top: 5px;    
    padding-bottom: 5px;
    background-color: #63c2f1;
    background-size: cover;
    width: 40%;
    position:relative;
    text-align: center;
    font-size: 10px;
}

.table{
    position: absolute;
    top: 20%;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    color: black;
    width: 1200px;

}

.desc{
    width: 500px;
}

.bookname{
    width: 250px;
}

.pic{
    height: 100px;
}






